body{
    margin: 0px;
    padding: 0px;
    color: hsl(0, 21%, 37%);
    margin: auto;
    font-family: cursive;
    text-align: center;
}
/* header  */
h1{
    margin: 0px;
    padding: 0px;
}
#name{
    color: hsl(0, 77%, 36%);    
    font-weight: 900;
    text-shadow: 0px -1px 9px hsl(2, 16%, 68%);
}
#logo>a>img {
    height: 45px;
    float: left;
}
#nav-id{
    display: flex;
    height: 45px;
    background-color: hsl(0, 79%, 76%);
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#ul-id{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li,a{
    list-style-type: none;
    text-decoration: none; 
    color: #fff;
    padding: 10px;
    text-shadow: 3px 5px 6px hsl(0, 18%, 29%);
}
.list-item{
    padding:4px 5%;
    /* box-sizing: border-box; */
    height: 35px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.list-item:hover{
    background-color: hsl(0, 79%, 46%);
}
/* responsive nav-bar */
@media screen and (max-width: 500px)
{
    #nav-id > #ul-id
    {
      float: left;
      display: block;
      float: left;
      width: 30%;
      height: auto;
    }
    #nav-id{
        height: auto;
    }
    .list-item
    {
        padding:1.8% 0%;
    }
    #name{
        display: none;
    }
  }
/* #information ===>main body {after nav} */
#welcome-display{
    background: linear-gradient(to right,rgba(47, 40, 40, 0.577),rgba(63, 53, 53, 0.577)),url(doctype-hi-res.586068de33d1.jpg) ;
    height: 92vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome-quote{
    color: #fff;
    font-size: 3vw;

}
.sometext{
    padding: 5% 10%;
    text-align: center;
}
.dark-button{
    background-color: hsl(0, 79%, 76%);
    color: #fff;
    border: 3px solid white;
    border-radius: 6px;
    padding: 2% 7%;
    box-sizing: border-box;
}
.dark-button:hover{
    color: #ff7473;
    background-color: #fff;
    border: 3px solid #ff7473;
}
